.image-container {
    width: 48%;
    max-width: 55vh;
    height: 50%;
    background-color: aqua;
    margin: 0 auto;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 38vh;
    max-height: 52vh;
    display: block;
}


