.title {
    position:relative;
	margin:30px;
}

.title input {
    border:0;
    border-bottom:1px solid #555;  
    background: #27374D;
    width:50%;
    max-width: 75vh;
    padding:8px 8px 5px 8px;
    font-size:16px;
    color:#fff;
}

.title input:focus {
    border:none;	
    outline:none;
    border-bottom:1px solid #7c8595;	
}