.image-container {
    width: 30vh;
    max-width: 38vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22vh;
}

.image-container img {


    width: 100%;
    height: 100%;

    object-fit: contain;
}


