.playlist-page-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: '2C3333';
    height: 100%;
}

.title {
    width: 100%;
    /* flex: 1; */
}

.image {
    /* flex: 3 0 0; */
    align-items: center;
    justify-content: center;
}

.player {
    width: 100%;
    /* flex: 3; */
}

.save-button{
    /* flex: 2; */
    margin-bottom: 4rem;
}


.save-button button{
    background: #1c2c45;
    border-radius: 999px;
    box-shadow: #364967 0 10px 20px -10px;
    color: #FFFFFF;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    margin-bottom: 25px;
    }