/* .song-container {
 background-color: aqua;
 display: flex;
 flex-direction: row;
 align-items: center;
 width: 50%;
} */

.image-thumbnail {
    margin: 0 auto;
    overflow: hidden;
}

.song-details {

    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    justify-content: flex-end;
    /* text-overflow: ellipsis; */
  }

  /* @keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100);
    }
  } */

  /* .scrolling .song-title {
    animation: scroll 10s linear infinite;
    animation-play-state: paused;
  }

  .scrolling .song-title.expamded {
    animation-play-state: running;
  } */


.image-thumbnail img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.empty-title-underline {
    border-bottom: 1px solid #000; /* Customize the underline style */
    width: 90%; /* Adjust the width as needed */
    justify-self: end;
    color: #959494;
    align-self: center;

}

.song-box {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px;
    border-bottom:1px solid #555;  
    background: #27374D;
    border-radius: 50px;
  }

.empty-song-box {
    display: flex;
    gap: 5px;
    padding: 2rem;
    border-bottom:1px solid #555;  
    background: #27374D;    position: relative;
    height: 10%;
    border-radius: 50px;
    width: 95%;
    align-items: center;
    justify-content: center;
}

.song-box img {
    max-width: 58px;
    object-fit: contain;
}

@keyframes scrollTitle {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.song-title {

    font: 2em;
    white-space: nowrap;
    font-weight: 400;
    animation: scrollTitle 15s linear infinite;
    animation-play-state: paused;
    color: white
    /* animation: scrollTitle 10s linear infinite ; */
    /* flex:1;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: blueviolet; */

    /* animation: scrollTitle 20s linear infinite infinite; */
}

.song-details .song-title.expanded {
    animation: my-animation 15s linear infinite;
    animation-play-state: running;
}

.expanded {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

 @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}   
  

.play-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 23px;
}

.play-button * {
    height: 100%;
}

.scrollTitle.scrolling {
    animation-play-state: running;
  }

  .middle-click-area {
    flex: 1;
    cursor: pointer;
}

.garbage-icon {
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire song box horizontally */
    height: 100%; /* Cover the entire song box vertically */
    background-color: rgba(241, 50, 50, 0.7); /* Semi-transparent red background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Place it above the song box content */
    cursor: pointer; /* Add a pointer cursor for click interaction */
  }

  .garbage-icon * {
    color: white; /* White color for the icon */
    font-size: 24px; /* Adjust the icon size */
    top: 0; /* Position at the top of the container */
    right: 0; /* Position at the right of the container */
  }

  .with-garbage {
    /* Add your styles for the "with-garbage" state here */
    /* For example, you can change the background color or add a border */
    background-color: lightgray;
    border: 1px solid black;
    /* You can adjust these styles to fit your design preferences */
  }

  .song-box-container {
    position: relative; /* Make it a positioning context */
    display: inline-block; /* Display as inline block to fit its content */
    width: 95%;
  }
  
