.admin-page {
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.4fr;
    column-gap: 2em;

    align-items: center;
    height: 100vh;
    max-width: 100%;

    grid-template-areas: 
        "title title title title title"
        "list list . display display"
        "list list . display display"
        ". . . . ."
    ;
    
    min-height: 0;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
    .admin-page {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "title title"
            "display display"
            "list list"
            ". ."
        ;
    }
}

.title {
    grid-area: title;
    margin-top: 1rem;
    display: flex;
    justify-content: center ;
    color: cadetblue;
    flex-direction: column;
}

.title h1 {
    color: cadetblue;
}

.title h5 {
    color: aliceblue;
}

.display {
    grid-area: display;
    grid-column: 4 / 6;
}